<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/code.jquery.com_jquery-3.5.1.min.js"></script>
    <script src="../js/common.js"></script>
    <title>J's Blog</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/bulletinboard.css">
    <link rel="shortcut icon" href="../ad_favicon.png">
    <link rel="apple-touch-icon" href="../ap_favicon.png">
    <script src="../js/bulletinboard.js"></script>
</head>
<body>
    <header id="mobile_header">
        <h1 onclick="location.href='/main'">J's Blog</h1>
        <aside id="mobile_menu">
            <script src="https://kit.fontawesome.com/1ea5be4fc8.js" crossorigin="anonymous"></script>
            <div class="menu">
                <button class="Plus" data-type="circle">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </aside>
        <div class="side_menu">
            <div class="sm_inner">
                <button class="close_btn" type="button">
                    <i class="fa-regular fa-rectangle-xmark"></i>
                </button>
                <div class="member">
                    <p>
                        <span id="m_userName"></span>님 환영합니다.
                    </p>
                    <div class="btnwrap">
                        <button type="button" class="signout" id="logoutButton">로그아웃</button>
                        <button type="button" class="change" onclick="location.href='editProfilePage'">회원정보 변경</button>
                    </div>
                </div>
                <form>
                    <input type="text" placeholder="찾으시는게 있나요?" class="m_search_input">
                    <button class="m_search" type="button">SEARCH</button>
                </form>
                <h2 class="title">TITLE</h2>
                <ul class="m_menulist">
                    <li>
                        <a href="#none" data-text="INTRODUCE">INTRODUCE</a>   
                    </li>
                    <li>
                        <a href="#none" data-text="PORTFOLIO">PORTFOLIO</a>    
                    </li>
                    <li>
                        <a href="#none" data-text="CAREER">CAREER</a>
                    </li>
                    <li>
                        <a href="/board" data-text="BOARD">BOARD</a>
                    </li>
                </ul>  
            </div>
        </div>
    </header>
    <aside id="search">
        <div class="circle">
            <form>
                <input type="text" placeholder="찾으시는게 있나요?" class="search_input">
                <button class="searchicon" type="button"></button>
            </form>
        </div>
    </aside>
    <header id="header">
        <div class="center">
            <a href="/main">
                <h1 class="logo"></h1>
            </a>    
        </div>
        <div class="center">
            <div class="member">
                <p>
                    <span id="userName"></span>님 환영합니다.
                </p>
                <button type="button" class="change" onclick="location.href='editProfilePage'">회원정보 변경</button>
                <button type="button" class="signout" id="logoutButton">로그아웃</button>
            </div>
        </div>
        <ul class="menubar">
            <div class="center">
                <li>
                    <a href="#none" data-text="INTRODUCE">INTRODUCE</a>   
                </li>
                <li>
                    <a href="#none" data-text="PORTFOLIO">PORTFOLIO</a>    
                </li>
                <li>
                    <a href="#none" data-text="CAREER">CAREER</a>
                </li>
                <li>
                    <a href="/board" data-text="BOARD">BOARD</a>
                </li>
            </div>
        </ul>
    </header>
    <section id="main_contents">
        <div class="center">
            <h2 class="h_board">BOARD</h2>
            <div class="menulist">
                <ul>
                    <li class="menu menu1" data-background=".background1">
                        <a href="#none">VIEW ALL</a>
                        <div class="background background1"></div>
                    </li>
                    <li class="menu menu2" data-background=".background2">
                        <a href="#none">NOTICE</a>
                        <div class="background background2"></div>
                    </li>
                    <li class="menu menu3" data-background=".background3">
                        <a href="#none">HTML</a>
                        <div class="background background3"></div>
                    </li>
                    <li class="menu menu4" data-background=".background4">
                        <a href="#none">CSS</a>
                        <div class="background background4"></div>
                    </li>
                    <li class="menu menu5" data-background=".background5">
                        <a href="#none">WEB</a>
                        <div class="background background5"></div>
                    </li>
                    <li class="menu menu6" data-background=".background6">
                        <a href="#none">INQUIRY</a>
                        <div class="background background6"></div>
                    </li>
                </ul>
            </div>
            <div class="view_board">
                <table border="0">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>날짜</th>
                            <th>작성자</th>
                        </tr>
                    </thead>
                    <tbody id="boardTableBody">
                            <tr>
                                <td>1</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                            <tr class="last_tr">
                                <td>10</td>
                                <td>준비중</td>
                                <td>23.08.18</td>
                                <td>관리자</td>
                            </tr>
                        </tbody>
                </table>
                <button type="button" class="write_btn" onclick="location.href='/write'">글쓰기</button>
                <div class="number">
                    <ul id="pagination">
                        <!-- <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="center">
            <div class="ft_logo"></div>
            <div class="copyright">
                <p>Copyright 2023. choikc1999 All picture cannot be copied without permission<br>
                This blog is for personal portfolio, not for commercial use.</p>
            </div>
            <div class="tel_email">
                <p><span>Tel.</span> 010-3122-1274</p>
                <p><span>Email:</span> choikc1999@naver.com</p>
            </div>
        </div>
    </footer>
</body>
</html>