<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J's Blog</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="login_form">
        <h1 class="logo"></h1>
        <form>
            <div>
                <input type="text" id="id" class="id" placeholder="ID">
            </div>
            <div>
                <input type="password" id="password" class="pwd" placeholder="Password">
            </div>
            <button type="submit" class="join">SIGN UP !</button>
            <button type="button" class="login">SIGN IN !</button>
        </form>
    </div>
</body>
</html>