<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>J's Blog</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/information.css">
</head>
<body>
    <div class="change">
        <h1>Change member information</h1>
        <form action="/edit-profile" method="POST"> <!-- 수정: action과 method 설정 -->
            <div class="changeID changebox">
                <label>
                    <span>ID</span>
                    <input type="text" class="changeInputID changeInput" name="id">
                </label>
            </div>
            <div class="changePw changebox">
                <label>
                    <span>Password</span>
                    <input type="password" class="newPassword changeInputPw changeInput" name="newPassword">
                </label>
            </div>
            <div class="changeName changebox">
                <label>
                    <span>Name</span>
                    <input type="text" class="changeInputName changeInput" name="newName">
                </label>
            </div>
            <div class="changeEmail changebox">
                <label>
                    <span>Email</span>
                    <input type="text" class="changeInputEmail changeInput" name="newEmail">
                </label>
            </div>
            <div class="changePN changebox">
                <label>
                    <span>PhoneNumber</span>
                    <input type="text" class="changeInputPN changeInput" name="newPhoneNumber">
                </label>
            </div>
            <button type="submit" class="btn_change">CHANGE</button>
            <button type="button" class="btn_back" onclick="location.href='/main'">BACK</button>
            <button type="button" class="btn_withdrawal">WITHDRAWAL</button>
        </form>
    </div>
    <script src="../js/change.js"></script>
</body>
</html>