<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/code.jquery.com_jquery-3.5.1.min.js"></script>
    <title>J's Blog</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/information.css">
    <link rel="shortcut icon" href="../ad_favicon.png">
    <link rel="apple-touch-icon" href="../ap_favicon.png">
</head>
<body>
    <div class="change">
        <h1>Change member information</h1>
        <form action="/edit-profile" method="POST" autocomplete="off" id="editform"> <!-- 수정: action과 method 설정 -->
            <div class="changeID changebox">
                <label>
                    <span>ID</span>
                    <input type="text" class="changeInputID changeInput" name="newId" id="newId">
                </label>
                <span id="idError" class="error"></span>
            </div>
            <div class="changePw changebox">
                <label>
                    <span>Password</span>
                    <input type="password" class="newPassword changeInputPw changeInput" name="newPassword" id="newPassword" autocomplete="new-password">
                </label>
                <span id="passwordError" class="error"></span>
            </div>
            <div class="changeName changebox">
                <label>
                    <span>Name</span>
                    <span class="userName">Loading...</span>
                    <input type="text" class="changeInputName changeInput" name="newName" style="display: none;" readonly>
                </label>
            </div>
            <div class="changeEmail changebox">
                <label>
                    <span>Email</span>
                    <input type="text" class="changeInputEmail changeInput" name="newEmail" id="newEmail">
                </label>
                <div id="emailDropdown"></div>
                <span id="emailError" class="error"></span>
            </div>
            <div class="changePN changebox">
                <label>
                    <span>PhoneNumber</span>
                    <input type="text" class="changeInputPN changeInput" name="newPhoneNumber" id="newPhoneNumber">
                </label>
                <span id="phoneNumberError" class="error"></span>
            </div>
            <button type="submit" class="btn_change">CHANGE</button>
            <button type="button" class="btn_back" onclick="location.href='/main'">BACK</button>
            <button type="button" class="btn_withdrawal" id="deleteAccountBtn">WITHDRAWAL</button>
        </form>
    </div>
    <script src="../js/change.js"></script>
</body>
</html>