<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/code.jquery.com_jquery-3.5.1.min.js"></script>
    <title>J's Blog</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/join.css">
    <link rel="shortcut icon" href="../ad_favicon.png">
    <link rel="apple-touch-icon" href="../ap_favicon.png">
</head>
<body>
    <div class="body">
            <h1>
                Welcome to my Blog<br>
                <span>We will guide you on how to sign up.</span>
            </h1>
            <form id="registrationForm" method="post" autocomplete="off">
                <div class="input_id input">
                    <label>
                        <span class="lb_h lb_h1">ID</span>
                        <input type="text" name="id" id="id" class="input1"/>
                    </label>
                    <span id="idError" class="error"></span>
                </div>
                <div class="input_pwd input">
                    <label>
                        <span class="lb_h lb_h2">Password</span>
                        <input type="password" name="password" id="password" class="input2" autocomplete="new-password"/>
                    </label>
                    <span id="passwordError" class="error"></span>
                </div>
                <div class="input_name input">
                    <label>
                        <span class="lb_h lb_h3">Name</span>
                        <input type="text" name="name" id="name" class="input3"/>
                    </label>
                    <span id="nameError" class="error"></span>
                </div>
                <div class="input_email input">
                    <label>
                        <span class="lb_h lb_h4">Email</span>
                        <input type="text" name="email" id="email" class="input4"/>
                    </label>
                    <div id="emailDropdown"></div>
                    <span id="emailError" class="error"></span>
                </div>
                <div class="input_phone input">
                    <label>
                        <span class="lb_h lb_h5">Phone number</span>
                        <input type="tel" name="phoneNumber" id="phoneNumber" class="input5"/>
                    </label>
                    <span id="phoneNumberError" class="error"></span>
                </div>   
                <div class="information_area input">
                    <label>
                        <span class="lb_h">Privacy Terms</span>
                        <textarea readonly rows cols>
※ J's Blog을 방문해 주셔서 감사합니다. ※
본 웹사이트는 제 포트폴리오를 소개하는 공간입니다.
입력하신 개인정보는 절대로 상업적으로 이용되지 않으며,
모든 비밀번호는 철저히 암호화되어 안전하게 보관됩니다.
그러니 안심하시고 가입해주세요!</textarea>
                    </label>
                    <div class="ckb">
                        <span class="checkbox_text">Have you read it?</span>
                        <input type="checkbox" class="checkbox" tabindex="-1">
                    </div>
                </div>         
                <button type="submit" class="btn_signup btn" tabindex="-1">Sign up</button>
                <button type="button" class="btn_back btn" onclick="location.href='login'" tabindex="-1">Back</button>
            </form>
        </div>
        <div class="logo"></div>
        <script src="../js/join.js"></script>
</body>
</html>