<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J's Blog</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header id="header">
        <div class="center">
            <a href="#none">
                <h1 class="logo"></h1>
            </a>    
        </div>
        <ul class="menubar">
            <div class="center">
                <li>
                    <div class="mb_inner">
                        <a href="#none">INTRODUCE</a>
                    </div>    
                </li>
                <li>
                    <div class="mb_inner">
                        <a href="#none">PORTFOLIO</a>
                    </div>    
                </li>
                <li>
                    <div class="mb_inner">
                        <a href="#none">CAREER</a>
                    </div>    
                </li>
                <li>
                    <div class="mb_inner">
                        <a href="#none">BOARD</a>
                    </div>    
                </li>
            </div>
        </ul>
    </header>
    <section id="main_contents">
        <div class="center">
            <div class="contaner_1">
                <div class="intro">
                    <h2>J's Blog</h2>
                    
                </div>
                <div class="notice">
                    <h2>Notice</h2>
                </div>
            </div>
        </div>
        <div class="contaner_2">
            <div class="center">
                <h2>Portfolio</h2>
            </div>
            <div class="portfolio">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="contaner_3">
            <div class="center">
                <h2>Banner</h2>
                <div class="fix_banner">
                    
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        
    </footer>
</body>
</html>