<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/code.jquery.com_jquery-3.5.1.min.js"></script>
    <title>J's Blog</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header id="header">
        <div class="center">
            <a href="/main">
                <h1 class="logo"></h1>
            </a>    
        </div>
        <div class="center">
            <div class="member">
                <p>
                    <span id="userName"></span>님 환영합니다.
                </p>
                <button type="button" class="change" onclick="location.href='editProfilePage'">회원정보 변경</button>
                <button type="button" class="signout" id="logoutButton">로그아웃</button>
            </div>
        </div>
        <ul class="menubar">
            <div class="center">
                <li>
                    <div class="mb_inner">
                        <a href="#none">INTRODUCE</a>
                    </div>    
                </li>
                <li>
                    <div class="mb_inner">
                        <a href="#none">PORTFOLIO</a>
                    </div>    
                </li>
                <li>
                    <div class="mb_inner">
                        <a href="#none">CAREER</a>
                    </div>    
                </li>
                <li>
                    <div class="mb_inner">
                        <a href="#none">BOARD</a>
                    </div>    
                </li>
            </div>
        </ul>
    </header>
    <section id="main_contents">
        <div class="center">
            <div class="contaner_1">
                <div class="intro">
                    <h2>
                        <a href="#none">J's Blog</a>
                    </h2>
                    <div class="it_inner">
                        <div class="it_contents1">
                            <div class="my_profile">
                                <p>사진</p>
                            </div>
                            <h5>안녕하세요. 신입 웹개발자 최진호입니다.</h5>
                            <p>저의 블로그를 방문해주셔서 감사합니다.</p>
                            <p>해당 웹사이트는 제 포트폴리오를 소개하기 위해 만들어졌으며, 어떠한 상업적인 측면도 고려되지 않았음을 안내드립니다.</p>
                            <p>제가 업로드한 포트폴리오들은 모두 저 혼자 작업한 순수한 개인 작업물입니다.</p>
                            <p class="ps">Ps. 이 웹사이트 또한 제가 개인적으로 작업한 포트폴리오입니다.</p>
                        </div>
                        <div class="it_contents2">
                            <h5 class="icons">
                                작업간 사용된 요소들
                                <span class="ps_mouse">※ 마우스를 올려보세요.</span>
                            </h5>
                            <div class="workIcon">
                                <div class="html5 icon"></div>
                                <div class="css icon"></div>
                                <div class="js icon"></div>
                                <div class="jquery icon"></div>
                                <div class="node icon"></div>
                                <div class="mysql icon"></div>
                                <div class="github icon"></div>
                                <div class="photo icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <h2>
                        <a href="/board">Notice</a>
                    </h2>
                    <table border="0">
                        <th>번호</th>
                        <th>제목</th>
                        <th>날짜</th>
                        <th>작성자</th>
                        <tr>
                            <td>1</td>
                            <td>준비중</td>
                            <td>23.08.18</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>준비중</td>
                            <td>23.08.18</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>준비중</td>
                            <td>23.08.18</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>준비중</td>
                            <td>23.08.18</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>준비중</td>
                            <td>23.08.18</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>준비중</td>
                            <td>23.08.18</td>
                            <td>관리자</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="contaner_2">
            <div class="center">
                <h2>Portfolio</h2>
            </div>
            <div class="portfolio_slider">
                <div class="slides">
                    <div class="slide slide1">
                        <a href="https://choikc19990109.cafe24.com/skin-skin3" target="_blank"></a>
                    </div>
                    <div class="slide slide2">
                        <a href="http://choikc990109.dothome.co.kr/01/" target="_blank"></a>
                    </div>
                    <div class="slide slide3">
                        <a href="#none"></a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="contaner_3">
            <div class="center">
                <h2>Banner</h2>
                <div class="fix_banner">
                    
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="center">
            <div class="ft_logo"></div>
            <div class="copyright">
                <p>Copyright 2023. choikc1999 All picture cannot be copied without permission<br>
                This blog is for personal portfolio, not for commercial use.</p>
            </div>
            <div class="tel_email">
                <p><span>Tel.</span> 010-3122-1274</p>
                <p><span>Email:</span> choikc1999@naver.com</p>
            </div>
        </div>
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>