<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/code.jquery.com_jquery-3.5.1.min.js"></script>
    <script src="../js/common.js"></script>
    <title>J's Blog</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/portfolio.css">
    <link rel="shortcut icon" href="../ad_favicon.png">
    <link rel="apple-touch-icon" href="../ap_favicon.png">
    <script src="../js/portfolio.js"></script>
</head>
<body>
    <header id="mobile_header">
        <h1 onclick="location.href='/main'">J's Blog</h1>
        <aside id="mobile_menu">
            <script src="https://kit.fontawesome.com/1ea5be4fc8.js" crossorigin="anonymous"></script>
            <div class="menu">
                <button class="Plus" data-type="circle">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </aside>
        <div class="side_menu">
            <div class="sm_inner">
                <button class="close_btn" type="button">
                    <i class="fa-regular fa-rectangle-xmark"></i>
                </button>
                <div class="member">
                    <p>
                        <span id="m_userName"></span>님 환영합니다.
                    </p>
                    <div class="btnwrap">
                        <button type="button" class="m_signout" id="logoutButton" tabindex="-1">로그아웃</button>
                        <button type="button" class="change" onclick="location.href='editProfilePage'" tabindex="-1">회원정보 변경</button>
                    </div>
                </div>
                <form>
                    <input type="text" placeholder="찾으시는게 있나요?" class="m_search_input" tabindex="-1">
                    <button class="m_search" type="button" tabindex="-1">SEARCH</button>
                </form>
                <h2 class="title">TITLE</h2>
                <ul class="m_menulist">
                    <li>
                        <a href="/introduce" data-text="INTRODUCE">INTRODUCE</a>   
                    </li>
                    <li>
                        <a href="/portfolio" data-text="PORTFOLIO">PORTFOLIO</a>    
                    </li>
                    <li>
                        <a href="/career" data-text="CAREER">CAREER</a>
                    </li>
                    <li>
                        <a href="/board" data-text="BOARD">BOARD</a>
                    </li>
                </ul>  
            </div>
        </div>
    </header>
    <aside id="search">
        <div class="circle">
            <form>
                <input type="text" placeholder="찾으시는게 있나요?" class="search_input" tabindex="-1">
                <button class="searchicon" type="button" tabindex="-1"></button>
            </form>
        </div>
    </aside>
    <header id="header">
        <div class="center">
            <a href="/main">
                <h1 class="logo"></h1>
            </a>    
        </div>
        <div class="center">
            <div class="member">
                <p>
                    <span id="userName"></span>님 환영합니다.
                </p>
                <button type="button" class="change" onclick="location.href='editProfilePage'" tabindex="-1">회원정보 변경</button>
                <button type="button" class="signout" id="logoutButton" tabindex="-1">로그아웃</button>
            </div>
        </div>
        <ul class="menubar">
            <div class="center">
                <li>
                    <a href="/introduce" data-text="INTRODUCE">INTRODUCE</a>   
                </li>
                <li>
                    <a href="/portfolio" data-text="PORTFOLIO">PORTFOLIO</a>    
                </li>
                <li>
                    <a href="/career" data-text="CAREER">CAREER</a>
                </li>
                <li>
                    <a href="/board" data-text="BOARD">BOARD</a>
                </li>
            </div>
        </ul>
    </header>
    <section id="main_contents">
        <div class="center">
            <div class="slideshow">
                <ul class="picture_left">
                    <li class="table_item">
                        <div class="iteminner iteminner1"></div>
                    </li>
                    <li class="table_item">
                        <div class="iteminner iteminner2"></div>
                    </li>
                    <li class="table_item">
                        <div class="iteminner iteminner1"></div>
                    </li>
                    <li class="table_item">
                        <div class="iteminner iteminner2"></div>
                    </li>
                </ul>
                <ul class="picture_right">
                    <li class="table_item">
                        <div class="iteminner iteminner1"></div>
                    </li>
                    <li class="table_item">
                        <div class="iteminner iteminner2"></div>
                    </li>
                    <li class="table_item">
                        <div class="iteminner iteminner1"></div>
                    </li>
                    <li class="table_item">
                        <div class="iteminner iteminner2"></div>
                    </li>
                </ul>
            </div>
            <div class="site_information">
                <div class="hole">
                    <div class="hole_item"></div>
                </div>
                <div class="ViewDetails">
                    <div class="Dt_item1">
                        <div class="Dt_H"></div>
                        <div class="Dt_F">
                            <h3>카페24를 활용한 쇼핑몰</h3>
                            <h4>
                                제작기간: 22.01 ~ 23.02<br>
                                작업기여도: 100%
                            </h4>
                            <p>
                                삼성직업전문학교에서 퍼블리싱을 수강하며 제작한 첫 포트폴리오입니다.<br>
                                퍼블리싱보단 디자인에 집중하여 제작하였습니다.<br>
                                디자인에 대한 컨펌은 강사님에게 받았지만 구상 및 작업은 독립적으로 작업했습니다.
                            </p>
                            <a href="https://choikc19990109.cafe24.com/skin-skin3" target="_blank">바로가기</a>
                        </div>
                    </div>
                    <div class="Dt_item2">
                        <div class="Dt_H"></div>
                        <div class="Dt_F">
                            <h3>벤치마킹을 통한 사이트 리뉴얼</h3>
                            <h4>
                                제작기간: 23.06 ~ 23.07<br>
                                작업기여도: 100%
                            </h4>
                            <p>
                                SBS아카데미학원에서 퍼블리싱을 수강하여 작업한 두번째 포트폴리오입니다.<br>
                                좀 더 나아진 수준에 퍼블리싱 실력을 보여주기 위해 사이트 리뉴얼을 했습니다.<br>
                                이 역시 강사님에 컨펌은 받았지만 구상 및 작업은 독립적으로 진행했습니다.
                            </p>
                            <a href="http://choikc990109.dothome.co.kr/01/" target="_blank">바로가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="center">
            <div class="ft_logo"></div>
            <div class="copyright">
                <p>Copyright 2023. choikc1999 All picture cannot be copied without permission<br>
                This blog is for personal portfolio, not for commercial use.</p>
            </div>
            <div class="tel_email">
                <p><span>Tel.</span> 010-3122-1274</p>
                <p><span>Email:</span> choikc1999@naver.com</p>
            </div>
        </div>
    </footer>
</body>
</html>