html {
    font-size: 10px;
}

.answer {
    width: 100%;
    height: 100%;
    border: 0.3rem solid #ffcc00;
    border-radius: 1.5rem;
    min-height: 60.0rem;
    padding: 2.0rem;
}

.answer h2 {
    font-size: 2.8rem;
    display: block;
    border-bottom: 0.3rem solid #ffcc00;
    padding-bottom: 2.0rem;
}

.questionbox {
    padding: 2.0rem 0;
    color: #333;
    font-size: 1.8rem;
}

.questionbox .question {
    color: #333;
    font-size: 2.0rem;
    font-weight: bold;
}
.answerbox {
    padding: 1.0rem;
    font-weight: bold;
}

.answerbox li {
    padding: 1.0rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searchResult {
    cursor: pointer;
    color: #666;
}

.searchResult:hover {
    color: #333;
}

.answerbox .q_answer {
    font-size: 1.6rem;
    font-weight: normal;
    margin-left: 1.5rem;
    cursor: pointer;
}