html {
    font-size: 10px;
}

.h_board {
    font-size: 3.2rem;
    padding: 0 0 2.0rem 0;
    text-align: center;
    color: #e8bb00;
}

#main_contents {
    min-height: 800px;
}

#main_contents .menulist {
    position: relative;
}

#main_contents .menulist ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    /* border-bottom: 0.2rem solid #ffd014; */
}

#main_contents .menulist ul li {
    flex-basis: 100%;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#main_contents .menulist ul li .background {
    background: #ffcc00;
    border-radius: 1.0rem 1.0rem 0 0;
    display: none;
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
    transform: translateY(0%);
    z-index: -1;
    animation: slideUp 0.3s ease-in-out forwards;
}

#main_contents .menulist ul li:first-child {
    left: 1px;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.animate-background {
    animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

#main_contents .menulist ul li .background1 {
    display: inline-block;
}

#main_contents .menulist ul li a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffd014;
    transition: 0.5s;
}

#main_contents .menulist ul li:first-child a {
    color: #fff;
}

#main_contents .view_board {
    width: 100%;
    /* padding: 0 3.0rem; */
}

#main_contents .view_board table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-spacing : 0;
    border-bottom: 0.2rem solid #ffcc00;
}

#main_contents .view_board table th {
    text-align: center;
    padding: 2.0rem 0;
    background-color: #ffcc00;
    color: #fff;
    /* border-bottom: 0.2rem solid #076355; */
    font-size: 1.6rem;
}

#main_contents .view_board table tr td {
    padding: 1.5rem 0;
    color: #333;
    border-bottom: 0.1rem solid #ffcc00;
    cursor: pointer;
    font-size: 1.6rem;
}

#main_contents .view_board table tr td:first-child {
    width: 10%;
    /* background: rgb(14,192,165,0.8); */
    color: #000;
}

#main_contents .view_board table tr td:nth-child(2) {
    width: 55%;
    text-align: left;
    font-weight: bold;
    color: #ff8314;
    padding: 1.5rem;
}

#main_contents .view_board table tr td:nth-child(3) {
    width: 15%;
    /* background: rgb(14,192,165,0.8); */
    color: #000;
}

#main_contents .view_board table tr td:nth-child(4) {
    width: 20%;
}

#main_contents .view_board table .last_tr td {
    border-bottom: none;
}

#main_contents .view_board .write_btn {
    border: 0;
    background: none;
    float: right;
    font-size: 1.6rem;
    width: 8.0rem;
    height: 3.0rem;
    margin: 1.5rem 0;
    cursor: pointer;
    background: #ffcc00;
    color: #fff;
    border-radius: 1.0rem;
    box-shadow: 0px 4px 0px #f09f04;
}

#main_contents .view_board .write_btn:active {
    box-shadow: 0 0 #ff4c4b; 
    background-color: #d8af0b;
}

/* #main_contents .view_board .write_btn:hover {
    background: #065549;
} */

#main_contents .view_board .number {
    width: 100%;
}

#main_contents .view_board .number ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2.0rem;
}

#main_contents .view_board .number ul li {
    height: 3.6rem;
    width: 3.6rem;
    text-align: center;
    background:#d1d1d1;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    margin: 0 0.5rem;
    cursor: pointer;
    line-height: 3.5rem;
}

#main_contents .view_board .number ul li a.active {
    background: #999;
}

#main_contents .view_board .number ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* 미디어 쿼리 */

@media (max-width: 1200px) {
    #main_contents .menulist ul li .background {
        background: none;
        background: #065549;
    }
}

/* @media (max-width: 1024px) {
    
}

@media (max-width: 960px) {
    
} */

@media (max-width: 768px) {
    #main_contents .menulist ul li {
        padding: 1.5rem 0;
    }
}