html {
    font-size: 10px;
}

* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: #333;}
ul,li,ol {list-style: none;}
.center {max-width: 130.0rem; margin: 0 auto; position: relative;}
.blind {position: absolute; left: -9999px; font-size: 0;}
body {background: #f5f5f5; position: relative;}

#search {
    position: fixed;
    z-index: 999;
    bottom: 20.0rem;
    right: 10.0rem;
}

#search .circle {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    min-width: 0;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    border-radius: 50%;
}

#search .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 1;
    box-shadow: inset 0 0 0 3.5rem #076355;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
    transition: box-shadow 0.3s, transform 0.3s
}

#search .circle:hover::before {
    box-shadow: inset 0 0 0 0.3rem #076355;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

#search .circle .searchicon {
    position: absolute;
    left: 50%;
    border: 0;
    transform: translateX(-50%);
    background: url(../images/search/search.png) no-repeat 0 0;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem #000);
    width: 6.5rem;
    height: 6.5rem;
    transition: 0.8s;
}

#search .circle_click .searchicon {
    position: absolute;
    border: 0;
    background: url(../images/search/search.png) no-repeat 0 0;
    /* filter: drop-shadow(2px 2px 2px #000); */
    width: 6.5rem;
    height: 6.5rem;
    top: -0.3rem;
    cursor: pointer;
    right: 0.3rem;
}

.searchiconShow {
    position: absolute;
    border: 0;
    background: url(../images/search/search.png) no-repeat 0 0;
    /* filter: drop-shadow(2px 2px 2px #000); */
    width: 6.5rem;
    height: 6.5rem;
    top: -0.3rem;
    cursor: pointer;
    right: 0.3rem;
}

.circle_click {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.3rem solid #076355;
    border-radius: 2.0rem;
    filter: drop-shadow(0.3rem 0.4rem 0.3rem #0a0a0a);
}

#search .circle .search_input {
    display: none;
}

#search .circle_click .search_input {
    width: 85%;
    height: 6.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: 0;
    padding: 0 2.0rem;
    font-weight: bold;
    font-size: 1.6rem;
    /* filter: drop-shadow(3px 3px 5px #fff); */
}

#search .circle_click .search_input::placeholder {
    font-weight: bold;
    color: #333;
}

#search .circle_click .search_input:focus {
    outline: none;
}

#mobile_header {  
    position: relative;
    overflow: hidden;
    display: none;
    margin-bottom: 1.0rem;
}

#mobile_header h1 {
    line-height: 6.0rem;
    padding: 0 1.5rem;
    height: 6.0rem;
    background: #0ac5a8;
    font-size: 3.2rem;
    color: #fff;
    cursor: pointer;
}


#mobile_header .side_menu {
    position: fixed;
    z-index: 999;
    width: 60%;
    height: 100%;
    background: #f5f5f5;
    box-shadow: 10px 10px 10px 15px rgba(000, 000, 000, 0.5);
    right: -9999px;
    top: 0;
    padding: 1.5rem;
    transition: 0.7s;
}

#mobile_header .side_menu .sm_inner {
    width: 100%;
    height: 100%;
    position: relative;
}

#mobile_header .side_menu .sm_inner .close_btn {
    font-size: 3.0rem;
    border: none;
    background: none;
    float: right;
    cursor: pointer;
    color: #ccc;
}

#mobile_header .side_menu .sm_inner .close_btn:active {
    background: #d1d1d1;
}

#mobile_header .side_menu .sm_inner .member {
    clear: both;
    padding: 5.0rem 0;
    position: relative;
}

#mobile_header .side_menu .sm_inner .member p {
    color: #333;
    font-weight: bold;
    font-size: 2.0rem;
    line-height: 4.0rem;
    padding-left: 1.0rem;
    text-align: center;
}

#mobile_header .side_menu .sm_inner .member .btnwrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.0rem 0;
}

#mobile_header .side_menu .sm_inner .member .btnwrap button {
    border: 0;
    background: #ddd;
    border: 0.1rem solid #ccc;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    border-radius: 1.0rem;
    clear: both;
}

#mobile_header .side_menu .sm_inner .member button:active {
    background: #d1d1d1;
}

#mobile_header .side_menu .sm_inner form {
    width: 100%;
    margin-top: 1.0rem;
}

#mobile_header .side_menu .sm_inner form .m_search_input {
    width: 80%;
    height: 4.0rem;
    padding: 0 1.0rem;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 1.5rem 0 0 1.5rem;
    float: left;
    font-size: 1.4rem;
}

#mobile_header .side_menu .sm_inner form .m_search_input:focus {
    outline: none;
}

#mobile_header .side_menu .sm_inner form .m_search {
    width: 20%;
    height: 4.0rem;
    border: none;
    background: none;
    border-radius: 0 1.5rem 1.5rem 0;
    border: 1px solid #aaa;
    border-left: none;
    background: #097363;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
}

#mobile_header .side_menu .sm_inner form .m_search:active {
    background: #05362f;
}

#mobile_header .side_menu .sm_inner .title {
    text-align: center;
    margin-top: 2.0rem;
    font-size: 3.2rem;
    background: #e9e9e9;
    color: #bbb;
    width: 100%;
}

#mobile_header .side_menu .sm_inner .m_menulist li {
    padding: 3.0rem 0;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 2px solid #ccc;
    position: relative;
    z-index: 1;
}

#mobile_header .side_menu .sm_inner .m_menulist li a {
    font-weight: bold;
    color: #aaa;
}

#mobile_header .side_menu .sm_inner .m_menulist li::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #097363;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.5s ease;
}

#mobile_header .side_menu .sm_inner .m_menulist li:hover a {
    color: #fff;
}

#mobile_header .side_menu .sm_inner .m_menulist li:hover::after {
    left: 0;
    width: 100%;
}

#mobile_header .side_menu .sm_inner .m_menulist li::after {
    top: 2px;
}

#mobile_menu {
    line-height: 6.0rem;
    position: absolute;
    bottom: -0.45rem;
    right: 1.0rem;
}

#mobile_menu .menu {
    width: 100%;
    height: 100%;
}

#mobile_menu .menu .Plus {
    padding: 1.0rem 1.5rem;
    font-size: 2.8rem;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    border: none;
    color: #fff;
    background: linear-gradient(to right, #0ac5a8, #0ac55e);
    box-shadow: 0 2px 25px rgba(10, 197, 168, 0.5);
}

#mobile_menu .menu .Plus:active {
    background: linear-gradient(
        to right,
        rgba(10, 197, 168, 0.6),
        rgba(10, 129, 197, 0.6)
    );
}

#mobile_menu .menu .Plus:focus {
    outline: none;
}

particle {
    left: 0;
    top: 0;
    pointer-events: none;
    position: fixed;
    opacity: 0;
}

#header {
    width: 100%;
    height: 28.0rem;
    position: relative;
    /* background: rgba(136, 229, 215, 0.15); */
    margin-bottom: 5.0rem;
}
#header .logo {
    background: url(../images/logo.png) no-repeat 0 0;
    width: 20.0rem;
    height: 21.0rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem;
}

#header .menubar {
    width: 100%;
    height: 5.0rem;
    position: absolute;
    bottom: 0;
    background: #076355;
}

#header .menubar .center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#header .menubar li {
    flex-basis: 25%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 4.6rem;   
    height: 5.0rem;
    
}

#header .menubar li a {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

#header .menubar li a::before {
    content: "CLICK !";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    background: #097363;
    color: #fff;
    transition: 0.5s;
    transform-origin: bottom;
    transform: translateY(-100%) rotateX(90deg);
}

#header .menubar li a:hover::before {
    transform: translateY(0) rotateX(0deg);
}

#header .menubar li a::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #076355;
    color: #fff;
    transition: 0.5s;
    transform-origin: top;
    transform: translateY(0) rotateX(0deg);
}
#header .menubar li a:hover::after {
    transform: translateY(100%) rotateX(90deg);
}


#header .member {
    float: right;
    text-align: right;
    font-size: 1.4rem;
    color: #333;
    margin-top: 0.5rem;
}

#header .member p {
    float: left;
    margin-right: 1.0rem;
    line-height: 2.5rem;
}

#header .member button {
    border: 0;
    background: 0;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.3rem;
    color: #333;
    border: 0.1rem solid #333;
    border-radius: 0.5rem;
}

#header .member button:hover {
    background: #d1d1d1;
}


/* footer 시작 */
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 20.0rem;
    background: #05362f;
    margin-top: 5.0rem;
    padding-top: 5.0rem;
}

#footer .ft_logo {
    width: 10.0rem;
    height: 10.0rem;
    background: url(../images/ft_logo.png) no-repeat 0 0;
    /* display: inline-block; */
    float: left;
}

#footer .copyright {
    display: inline-block;
    font-size: 1.8rem;
    color: rgba(255,255,255,0.8);
    margin: 2.0rem 0 0 5.0rem;
    line-height: 3.0rem;
}

#footer .tel_email {
    /* display: inline-block; */
    font-size: 1.8rem;
    color: rgba(255,255,255,0.8);
    margin: 2.0rem 0 0 5.0rem;
    line-height: 3.0rem;
    float: right;
}

#footer .tel_email span{
    color: rgba(255,255,255,0.6);
}
/* footer 종료 */

/* 미디어 쿼리 */

@media (max-width: 1300px) {
    #search {
        right: 5.0rem;
    }

    #footer {
        padding: 5.0rem 2.0rem 0px 2.0rem;
    }
}

@media (max-width: 1120px) {
    #footer .ft_logo {
        display: none;
    }

    #footer .copyright {
        margin: 2.0rem 0 0 0;
    }

    #footer .tel_email {
        margin: 2.0rem 0 0 0;
    }

}

@media (max-width: 960px) {
    #header {
        display: none;
    }

    #mobile_header {
        display: block;
    }

    #search {
        display: none;
    }

    #mobile_menu {
        display: inherit;
    }

    #footer {
        padding: 4.0rem 0;
    }

    #footer .copyright {
        display: block;
        text-align: center;
    }

    #footer .tel_email {
        display: block;
        float: none;
        text-align: center;
    }

    #footer .tel_email p {
        width: 50%;
        display: inline-block;
    }

}

@media (max-width: 768px) {
    #footer {
        padding: 2.0rem;
        min-height: 0;
        height: 30.0rem;
    }
}