* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: #333;}
ul,li,ol {list-style: none;}
.center {max-width: 1300px; margin: 0 auto; position: relative;}
.blind {position: absolute; left: -9999px; font-size: 0;}
body {background: #f5f5f5; position: relative;}

#search {
    position: fixed;
    z-index: 999;
    bottom: 200px;
    right: 100px;
}

#search .circle {
    position: relative;
    width: 65px;
    height: 65px;
    min-width: 0;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    border-radius: 50%;
}

#search .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 1;
    box-shadow: inset 0 0 0 35px #076355;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
    transition: box-shadow 0.3s, transform 0.3s
}

#search .circle:hover::before {
    box-shadow: inset 0 0 0 3px #076355;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

#search .circle .searchicon {
    position: absolute;
    left: 50%;
    border: 0;
    transform: translateX(-50%);
    background: url(../images/search/search.png) no-repeat 0 0;
    filter: drop-shadow(2px 2px 2px #000);
    width: 65px;
    height: 65px;
    transition: 0.8s;
}

#search .circle_click .searchicon {
    position: absolute;
    border: 0;
    background: url(../images/search/search.png) no-repeat 0 0;
    /* filter: drop-shadow(2px 2px 2px #000); */
    width: 65px;
    height: 65px;
    top: -3px;
    cursor: pointer;
    right: 3px;
}

.searchiconShow{
    position: absolute;
    border: 0;
    background: url(../images/search/search.png) no-repeat 0 0;
    /* filter: drop-shadow(2px 2px 2px #000); */
    width: 65px;
    height: 65px;
    top: -3px;
    cursor: pointer;
    right: 3px;
}

.circle_click {
    position: relative;
    width: 65px;
    height: 65px;
    border: 3px solid #076355;
    border-radius: 20px;
    filter: drop-shadow(3px 4px 3px #0a0a0a);
}

#search .circle .search_input {
    display: none;
}

#search .circle_click .search_input {
    width: 85%;
    height: 65px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: 0;
    padding: 0 20px;
    font-weight: bold;
    font-size: 16px;
    /* filter: drop-shadow(3px 3px 5px #fff); */
}

#search .circle_click .search_input::placeholder {
    font-weight: bold;
    color: #333;
}

#search .circle_click .search_input:focus {
    outline: none;
}

#header {
    width: 100%;
    height: 280px;
    position: relative;
    /* background: rgba(136, 229, 215, 0.15); */
    margin-bottom: 50px;
}
#header .logo {
    background: url(../images/logo.png) no-repeat 0 0;
    width: 200px;
    height: 210px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

#header .menubar {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: #076355;
}

#header .menubar .center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#header .menubar .mb_inner {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 46px;   
}

#header .menubar .mb_inner a {
    color: #fff;
}

#header .menubar .mb_inner a:hover {
    color: #0ac5a8;
}

#header .member {
    float: right;
    text-align: right;
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

#header .member p {
    float: left;
    margin-right: 10px;
    line-height: 25px;
}

#header .member button {
    border: 0;
    background: 0;
    font-size: 13px;
    cursor: pointer;
    padding: 3px;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
}

#header .member button:hover {
    background: #d1d1d1;
}


/* footer 시작 */
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 200px;
    background: #05362f;
    margin-top: 50px;
    padding-top: 50px;
}

#footer .ft_logo {
    width: 100px;
    height: 100px;
    background: url(../images/ft_logo.png) no-repeat 0 0;
    /* display: inline-block; */
    float: left;
}

#footer .copyright {
    display: inline-block;
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    margin: 20px 0 0 50px;
    line-height: 30px;
}

#footer .tel_email {
    /* display: inline-block; */
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    margin: 20px 0 0 50px;
    line-height: 30px;
    float: right;
}

#footer .tel_email span{
    color: rgba(255,255,255,0.6);
}
/* footer 종료 */

/* 미디어 쿼리 */

@media (max-width: 1300px) {
    #footer {
        padding: 50px 20px 0px 20px;
    }
}

@media (max-width: 1120px) {
    #footer .ft_logo {
        display: none;
    }

    #footer .copyright {
        margin: 20px 0 0 0;
    }

    #footer .tel_email {
        margin: 20px 0 0 0;
    }

}

@media (max-width: 960px) {
    #header .member {
        display: none;
    }

    #footer .copyright {
        display: block;
        text-align: center;
    }

    #footer .tel_email {
        display: block;
        float: none;
        text-align: center;
    }

    #footer .tel_email p {
        width: 50%;
        display: inline-block;
    }

}

@media (max-width: 768px) {
    #footer {
        padding: 20px;
        min-height: 0;
        height: 300px;
    }
}