* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: #333;}
ul,li,ol {list-style: none;}
.center {max-width: 1300px; margin: 0 auto; position: relative;}
.blind {position: absolute; left: -9999px; font-size: 0;}
body {background: #f5f5f5;}

#header {
    width: 100%;
    height: 280px;
    position: relative;
    /* background: rgba(136, 229, 215, 0.15); */
    margin-bottom: 50px;
}
#header .logo {
    background: url(../images/logo.png) no-repeat 0 0;
    width: 200px;
    height: 210px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

#header .menubar {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: #076355;
}

#header .menubar .center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#header .menubar .mb_inner {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 46px;   
}

#header .menubar .mb_inner a {
    color: #fff;
}

#header .menubar .mb_inner a:hover {
    color: #0ac5a8;
}

#header .member {
    float: right;
    text-align: right;
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

#header .member p {
    float: left;
    margin-right: 10px;
    line-height: 25px;
}

#header .member button {
    border: 0;
    background: 0;
    font-size: 13px;
    cursor: pointer;
    padding: 3px;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
}

#header .member button:hover {
    background: #d1d1d1;
}


/* footer 시작 */
#footer {
    width: 100%;
    height: 200px;
    background: #05362f;
    margin-top: 50px;
    padding-top: 50px;
}

#footer .ft_logo{
    width: 100px;
    height: 100px;
    background: url(../images/ft_logo.png) no-repeat 0 0;
    display: inline-block;
    float: left;
}

#footer .copyright {
    display: inline-block;
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    margin: 20px 0 0 50px;
    line-height: 30px;
}

#footer .tel_email {
    display: inline-block;
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    margin: 20px 0 0 50px;
    line-height: 30px;
    float: right;
}

#footer .tel_email span{
    color: rgba(255,255,255,0.6);
}
/* footer 종료 */