html {
    font-size: 10px;
}

.change {
    width: 70.0rem;
    height: 80.0rem;
    margin: 0 auto;
    margin-top: 5.0rem;
    padding: 3.0rem 8.0rem;
    text-align: center;
    border: 0.3rem solid #ffcc00;
    border-radius: 2.5rem;
}

.change h1 {
    font-size: 3.2rem;
    color: #333;
    margin-bottom: 3.0rem;
}

.change input {
    width: 70%;
    height: 100%;
    border: 0;
    background: 0;
    color: #fff;
    font-size: 1.8rem;
    padding: 3.0rem;
    border-radius: 0 2.5rem 2.5rem 0;
}

.change label span {
    width: 30%;
    float: left;
    line-height: 5.8rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

.change input:focus {
    outline: none;
}

.change .changebox {
    width: 100%;
    height: 6.0rem;
    margin-bottom: 3.5rem;
    border-radius: 2.0rem;
    background: #ffcc00;
}

.change label {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.change button {
    background: none;
    border: 0;
    cursor: pointer;
    width: 50%;
    float: left;
    height: 5.0rem;
    color: #fff;
    font-size: 1.8rem;
}

.change .btn_change {
    background: #ffcc00;
    border-radius: 1.5rem 0 0 1.5rem;
}

.change .btn_change:hover {
    background: #ffe375;
}

.change .btn_back {
    background: #ffcc00;
    border-radius: 0 1.5rem 1.5rem 0;
}

.change .btn_back:hover {
    background: #f19839;
}

.change .btn_withdrawal {
    width: 100%;
    background: #ffcc00;
    border-radius: 1.5rem;
    margin-top: 1.0rem;
}

.change .btn_withdrawal:hover {
    background: #c85b2b;
}

/* 에러메세지 css */
.changeEmail {
    position: relative;
}

.error { 
    color: #f00;
    font-size: 1.4rem;
}


#emailDropdown{
    display: none;
    border: 0.1rem solid #ccc;
    background-color: #fff;
    width: 12.0rem;
    z-index: 1;
    font-size: 1.8rem;
    line-height: 3.0rem;
    position: absolute;
    right: 0;
}
.dropdown-item{
    padding: 1.0rem;
    cursor: pointer;
    border-bottom: 0.1rem solid #eee;
    color: #333;
}
.dropdown-item:hover {
    background: #f1f1f1;
}

/* 미디어 쿼리 */

@media (max-width: 1024px) {
    
}

@media (max-width: 960px) {
    
}

@media (max-width: 768px) {
    .change {
        width: 100%;
        height: 100.0rem;
        margin-top: 0;
    }
    
    .change .changebox {
        margin-bottom: 6.0rem;
        border-radius: 2.0rem;
        /* background: #0b9882; */
    }

    .change label span {
        width: 40%;
    }

    .change input {
        width: 60%;
    }

    .change button {
        width: 100%;
    }

    .change .btn_change {
        border-radius: 1.5rem;
        margin-bottom: 1.0rem;
    }
    .change .btn_back {
        border-radius: 1.5rem;
    }
}