.change {
    width: 700px;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 80px;
    text-align: center;
    border: 3px solid #0b9882;
    border-radius: 25px;
}

.change h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
}

.change input {
    width: 70%;
    height: 100%;
    border: 0;
    background: 0;
    color: #fff;
    font-size: 18px;
    padding: 30px;
    border-radius: 0 25px 25px 0;
}

.change label span {
    width: 30%;
    float: left;
    line-height: 58px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.change input:focus {
    outline: none;
}

.change .changebox {
    width: 100%;
    height: 60px;
    margin-bottom: 35px;
    border-radius: 20px;
    background: #0b9882;
}

.change label {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.change button {
    background: none;
    border: 0;
    cursor: pointer;
    width: 50%;
    float: left;
    height: 50px;
    color: #fff;
    font-size: 18px;
}

.change .btn_change {
    background: #0b9882;
    border-radius: 15px 0 0 15px;
}

.change .btn_change:hover {
    background: #076355;
}

.change .btn_back {
    background: #076355;
    border-radius: 0 15px 15px 0;
}

.change .btn_back:hover {
    background: #0b9882;
}

.change .btn_withdrawal {
    width: 100%;
    background: #05473d;
    border-radius: 15px;
    margin-top: 10px;
}

.change .btn_withdrawal:hover {
    background: #04312a;
}

/* 에러메세지 css */
.changeEmail {
    position: relative;
}

.error { 
    color: #f00;
    font-size: 14px;
}


#emailDropdown{
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 120px;
    z-index: 1;
    font-size: 18px;
    line-height: 30px;
    position: absolute;
    right: 0;
}
.dropdown-item{
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    color: #333;
}
.dropdown-item:hover {
    background: #f1f1f1;
}