html {
    font-size: 10px;
}

#main_contents {
    width: 100%;
}

/* contaner_1 시작 */
#main_contents .contaner_1 {
    display: flex;
    width: 100%;
    height: 50.0rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#main_contents .contaner_1 h2 {
    padding: 0 0 0.8rem 2.0rem;
    border-bottom: 0.2rem solid #ffae00;
}

#main_contents .contaner_1 h2 a {
    font-size: 3.2rem;
    color: #ffae00;
}

#main_contents .contaner_1 .intro {
    flex: 4;
    height: 100%;
}

#main_contents .contaner_1 .intro .it_inner {
    width: 100%;
    padding: 2.0rem 0.5rem;
}

#main_contents .contaner_1 .intro .it_inner .it_contents1 {
    width: 100%;
}

#main_contents .contaner_1 .intro .it_inner .my_profile {
    width: 16.6rem;
    height: 22.2rem;
    border: 0.1rem solid #000;
    background: #000;
    float: left;
    margin: 0 1.0rem 1.0rem 0;
    cursor: pointer;
}

#main_contents .contaner_1 .intro .it_inner .my_profile p {
    color: #fff;
    padding-top: 5.0rem;
    text-align: center;
}

#main_contents .contaner_1 .intro .it_inner h5 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.0rem;
}

#main_contents .contaner_1 .intro .it_inner p {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    color: #333;
    font-weight: 400;
    line-height: 2.0rem;
}

#main_contents .contaner_1 .intro .it_inner .ps {
    font-size: 1.5rem;
    color: #919191;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 {
    clear: both;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .icons {
    text-align: center;
    padding: 0.5rem 0;
    color: #666;
    position: relative;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .ps_mouse {
    color: #999;
    font-weight: normal;
    font-size: 1.4rem;
    right: -1.0rem;
    top: 1.0rem;
    position: absolute;
}


#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon .icon {
    width: 5.0rem;
    height: 5.0rem;
    flex-basis: auto;
}
/* 작업간 사용된 요소들 아이콘 */
#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon .html5 {
    background: url(../images/icon/html5.png) no-repeat 0 0;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon .css {
    background: url(../images/icon/css.png) no-repeat 0 0;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon .js {
    background: url(../images/icon/js.png) no-repeat 0 0;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon .jquery {
    background: url(../images/icon/jQuery.png) no-repeat 0 0;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon .node {
    background: url(../images/icon/node.png) no-repeat 0 0;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon .mysql {
    background: url(../images/icon/mysql.png) no-repeat 0 0;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon .github {
    background: url(../images/icon/github.png) no-repeat 0 0;
}

#main_contents .contaner_1 .intro .it_inner .it_contents2 .workIcon .photo {
    background: url(../images/icon/photo.png) no-repeat 0 0;
}
/* 작업간 사용된 요소들 아이콘 끝 */

/* icon돋보기기능 */
.custom-cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    width: 10.0rem; /* 커서 크기 조절 */
    height: 10.0rem;
}

/* 원하는 SVG 파일로 변경 */
.custom-cursor svg {
    width: 100%;
    height: 100%;
}

.workIcon .icon {
    transition: transform 0.2s;
}

.workIcon .icon:hover {
    transform: scale(1.3); /* 확대 효과 적용 */
}


/* 기능끝 */

#main_contents .contaner_1 .notice {
    width: 60%;
    flex: 6;
    height: 100%;
    padding-left: 2.0rem;
}

#main_contents .contaner_1 .notice table {
    width: 100%;
    text-align: center;
    /* border-collapse : collapse; */
    border-spacing : 0;
    padding: 1.0rem 0.5rem;
    color: #333;
}

#main_contents .contaner_1 .notice table th {
    font-size: 1.8rem;
    padding-bottom: 1.0rem;
    border-bottom: 0.2rem solid #ffae00;
}

#main_contents .contaner_1 .notice table td {
    font-size: 1.6rem;
    color: #666;
    padding: 1.5rem 0;
    border-bottom: 0.1rem solid #ffae00;
    cursor: pointer;
}

#main_contents .contaner_1 .notice table td:nth-child(2) {
    font-weight: bold;
    width: 40%;
}

/* contaner_1 종료 */

/* contaner_2 시작 */
#main_contents .contaner_2 {
    width: 100%;
    height: 100%;
}

#main_contents .contaner_2 .portfolio_slider {
    overflow: hidden;
    width: 100%;
}

#main_contents .contaner_2 .portfolio_slider .slides {
    display: flex;
}

#main_contents .contaner_2 .portfolio_slider .slides a {
    width: 50.0rem;
    height: 30.0rem;
    display: block;
}

#main_contents .contaner_2 .portfolio_slider .slides .slide {
    flex: 0 0 50.0rem;
    background: url(../images/sorry.png) no-repeat 0 0;
    height: 30.0rem;
    cursor: pointer;
    /* transition: transform 0.5s ease-in-out; */
}

#main_contents .contaner_2 .portfolio_slider .slides .slide1 {
    background: url(../images/portfolio_1.jpg) no-repeat 0 0;
}

#main_contents .contaner_2 .portfolio_slider .slides .slide2 {
    background: url(../images/portfolio_2.jpg) no-repeat 0 0;
}


#main_contents .contaner_2 h2 {
    font-size: 3.2rem;
    color: #ffae00;
    padding: 0 0 0.8rem 2.0rem;
}
/* contaner_2 종료 */

/* contaner_3 시작 */
/* #main_contents .contaner_3 {
    clear: both;
    width: 100%;
    height: 100%;
}

#main_contents .contaner_3 .center{
    width: 100%;
    height: 100%;
}

#main_contents .contaner_3 h2 {
    font-size: 3.2rem;
    color: #076355;
    padding: 0 0 0.8rem 2.0rem;
}

#main_contents .contaner_3 .fix_banner {
    width: 100%;
    height: 30.0rem;
    border: 0.1rem solid #000;
} */
/* contaner_3 종료 */

/* 미디어 쿼리 */

@media (max-width: 1200px) {
    #main_contents .contaner_1 .intro .it_inner .it_contents2 .ps_mouse {
        position: static;
        display: block;
    }
}

@media (max-width: 1080px) {
    #main_contents .contaner_2 {
        margin-top: 5.0rem;
    }
}

@media (max-width: 1024px) {
    #main_contents .contaner_1 {
        display: block;
        height: 100%;
    }

    #main_contents .contaner_1 .intro {
        width: 100%;
    }

    #main_contents .contaner_1 .notice {
        width: 100%;
    }
}

@media (max-width: 960px) {
    #main_contents .contaner_1 .intro .it_inner .it_contents2 .ps_mouse {
        display: none;
    }

    .custom-cursor {
        display: none !important;
    }

    body {
        cursor: auto !important;
    }

    .intro h2 {
        display: none;
    }
}

@media (max-width: 768px) {
    
}