#main_contents {
    width: 100%;
}

/* contaner_1 시작 */
#main_contents .contaner_1 {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#main_contents .contaner_1 h2 {
    font-size: 32px;
    color: #076355;
    padding: 0 0 8px 20px;
    border-bottom: 2px solid #076355;
}

#main_contents .contaner_1 .intro {
    flex: 4;
    height: 100%;
}

#main_contents .contaner_1 .notice {
    width: 60%;
    flex: 6;
    height: 100%;
    padding-left: 20px;
}
/* contaner_1 종료 */

/* contaner_2 시작 */
#main_contents .contaner_2 {
    width: 100%;
    height: 100%;
}

#main_contents .contaner_2 .portfolio {
    width: 100%;
    height: 100%;
}

#main_contents .contaner_2 .portfolio ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100%;
    justify-content: space-around;
}

#main_contents .contaner_2 .portfolio ul li {
    border: 1px solid #000;
    flex: auto;
    height: 300px;
    margin-left: 10px;
}
#main_contents .contaner_2 .portfolio ul li:first-child {
    margin-left: 0;
    background: url(../images/portfolio_1.jpg) no-repeat 0 0;
}

#main_contents .contaner_2 .portfolio ul li:nth-child(2) {
    background: url(../images/portfolio_2.jpg) no-repeat 0 0;
}

#main_contents .contaner_2 h2 {
    font-size: 32px;
    color: #076355;
    padding: 0 0 8px 20px;
}
/* contaner_2 종료 */

/* contaner_3 시작 */
#main_contents .contaner_3 {
    width: 100%;
    height: 100%;
}

#main_contents .contaner_3 .center{
    width: 100%;
    height: 100%;
}

#main_contents .contaner_3 h2 {
    font-size: 32px;
    color: #076355;
    padding: 0 0 8px 20px;
}

#main_contents .contaner_3 .fix_banner {
    width: 100%;
    height: 300px;
    border: 1px solid #000;
}
/* contaner_3 종료 */

