html {
    font-size: 10px;
}

.WriteForm {
    width: 100%;
    height: 100%;
    border: 0.2rem solid #ffcc00;
    border-radius: 20px;
    padding: 15px 10px;
}

.WriteForm form {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
}

.WriteForm form span {
    float: left;
    text-align: center;
}

.WriteForm form input {
    padding: 0 1.0rem;
    border: none;
    background: none;
    border: 0.2rem solid #ffcc00;
    border-radius: 1.0rem;
}

.WriteForm form input:focus {
    outline: none;
}

.WriteForm form .title_label span {
    width: 5%;
    height: 3.0rem;
    line-height: 3.0rem;
}

.WriteForm form .title_label .title_input {
    width: 95%;
    height: 3.0rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.WriteForm form .name_label {
    margin-right: 2.0rem;
}

.WriteForm form .name_label span {
    width: 5%;
    height: 2.5rem;
    line-height: 2.5rem;
}

.WriteForm form .name_label .name_input {
    width: 10%;
    height: 2.5rem;
    border-radius: 0.7rem;
}

.WriteForm form .pwd_label span {
    width: 5%;
    float: none;
    height: 2.5rem;
    line-height: 2.5rem;
}

.WriteForm form .pwd_label .password_input {
    width: 30%;
    height: 2.5rem;
    border-radius: 0.7rem;
    /* float: right; */
}

.WriteForm form .select_board {
    float: right;
}

.WriteForm form .select_board ul {
    float: left;
    margin-right: 1.0rem;
}

.WriteForm form .select_board ul li {
    text-align: center;
    border: 0.1rem solid #d1d1d1;
    padding: 0.5rem;
    cursor: pointer;
}

.WriteForm form .select_board ul li:first-child {
    border: 0.2rem solid #ffcc00;
    border-radius: 10px;
}

.selected {
    border: 0.2rem solid #ffcc00 !important;
    border-radius: 1.0rem;
}

.dropdown_content li:not(:first-child) {
    display: none;
}

.WriteForm form .select_board .dropdown_btn {
    width: 1.8rem;
    height: 1.0rem;
    border: 0;
    background: none;
    cursor: pointer;
    background: url(../images/dropdounbtn.png) no-repeat 0 0;
    float: right;
    transform: translateY(1.2rem);
}

.title_box {
    margin-bottom: 1.5rem;
}

.information_box {
    margin-bottom: 1.5rem;
}

.write_setup {
    margin-bottom: 1.0rem;
}

.area_label {
    width: 100%;
}

.area_label span {
    margin: 0 0 1.5rem 0;
    display: inline-block;
    width: 100%;
}

.area_label .area {
    width: 100%;
    resize: none;
    height: 50.0rem;
    padding: 1.0rem;
    font-size: 1.7rem;
    text-align: center;
    border: none;
    background: none;
    border-radius: 1.5rem;
    border: 0.2rem solid #ffcc00;
}

.area_label .area:focus {
    outline: none;
}

.WriteForm .btn {
    width: 100%;
    margin-top: 1.0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.WriteForm .btn button {
    margin-left: 1.0rem;
    cursor: pointer;
    background: none;
    border: 0;
    padding: 1.0rem;
    border-radius: 1.0rem;
    color: #fff;
    background: #ffcc00;
    font-size: 1.6rem;
    box-shadow: 0px 4px 0px #f09f04;
}

.WriteForm .btn button:active {
    box-shadow: 0 0 #ff4c4b; 
    background-color: #d8af0b;
}

/* 미디어 쿼리 */

@media (max-width: 1024px) {
    .WriteForm form .title_label span {
        width: 10%;
    }

    .WriteForm form .title_label .title_input {
        width: 90%;
    }

    .WriteForm form .name_label span {
        width: 10%;
    }

    .WriteForm form .pwd_label span {
        width: 10%;
    }
}

/* @media (max-width: 960px) {
    
} */

@media (max-width: 580px) {
    .WriteForm form .name_label span {
        width: 10%;
    }

    .WriteForm form .name_label .name_input {
        width: 90%;
        margin-bottom: 1.0rem;
    }

    .WriteForm form .pwd_label {
        width: 100%;
    }

    .WriteForm form .pwd_label span {
        width: 15%;
        display: inline-block;
    }
    
    .WriteForm form .pwd_label .password_input {
        width: 85%;
        float: right;
        margin-bottom: 1.0rem;
    }
}

@media (max-width: 520px) {
    .WriteForm form .name_label span {
        width: 20%;
        display: inline-block;
        margin-bottom: 1.0rem;
    }

    .WriteForm form .name_label .name_input {
        width: 80%;
        margin-bottom: 1.0rem;
        float: right;
    }

    .WriteForm form .pwd_label {
        width: 100%;
    }

    .WriteForm form .pwd_label span {
        width: 20%;
        float: left;
    }
    
    .WriteForm form .pwd_label .password_input {
        width: 80%;
        float: right;
        margin-bottom: 1.0rem;
    }
}